<meta charset="utf-8">
<title>Fathym Demo</title>




<style>
h1 {
		
	}
h2 {
		
	}
.bodyText {
	text-align: center;
	font-family: sans-serif; 
	}
th {
    padding-left: 15px;
    text-align: left;
}
td {
    padding: 15px;
}
.coverimg {
    max-width: 90%;
    height: auto;
}
.centerImage {
     text-align: center;
}
</style>

<div>
	<span class="centerImage">
		<img src="http://iot.fathym.com/Files/Storage/c0debfd2-42ea-4bd0-8e69-42843f6eec97" height="120" width="270" align="center">
	</span>
</div>
	<br>
	<br>
<div>
		<span class="bodyText">Fathym is an innovation framework for the Industrial Internet of Things, helping customers bring their data into a cloud environment and create real-time visualizations, alerts and apps, as well as optimize systems through historic analytics. </span>
</div>
<div>
	<span class="centerImage">
		<a href="http://fathym.com"><img src="http://iot.fathym.com/Files/Storage/9fb71853-32aa-4504-aea2-b2beadf85faa" width="900" height="auto"></a>
	</span>
</div>
<hr>
<div>
	<h1>Real-Time Data Monitoring</h1>
</div>
<br>
<div>
	<span class="bodyText">Fathym is a flexible framework for rapidly building data dashboards, custom to your data needs. Data brokers and broker subscriptions help you connect your device data or data feeds. </span></div><div><span class="bodyText"><br>Our catalog of data visualizations are created from standard languages (HTML, Javascript, JQuery) and open source libraries, such as D3.js.
	<br><br>
	</span></div><div><span class="bodyText">The Fathym Rules Engine allows users to set alerts based on any combination of incoming data.</span>
</div>
<br>
<div>
	<h2>Data Ingest</h2>
</div>
<div>
	<span class="centerImage">	
		<img src="http://iot.fathym.com/Files/Storage/b63f5abd-638f-4481-8079-e73acd07f847" width="900" height="auto">
	</span>
</div>
<div>
	<span class="bodyText">Fathym connects to data via gateways, APIs and data brokers. 
		<br><br>
	</span></div><div><span class="bodyText">After the broker is configured, selecting a data stream for your dashboard is easy. Multiple data streams can be applied to a single dashboard. 
	
	</span>
</div>
	<br>
<div>
	<span class="centerImage">
		<a href="http://iot.fathym.com/?partId=92b5ae1b-322f-4be5-845d-b08c22b96067"><img src="http://iot.fathym.com/Files/Storage/ae322fdb-6ced-4561-a81f-3519e2c0aa72" width="900" height="auto"></a>
	</span>
</div>
<div>
	<br>
	<span class="bodyText">Each data visualization allows you to select your data source from the dashboard's data streams. 
	</span>
</div>
	<br>
<div>
	<span class="centerImage">
		<a href="http://iot.fathym.com/?partId=92b5ae1b-322f-4be5-845d-b08c22b96067"><img src="http://iot.fathym.com/Files/Storage/737e7f0e-f38c-4ea4-9fbf-f8c0d7ac3a89" width="900" height="auto"></a>
	</span>
</div>
<br>
<hr>
<div>
	<h2>Real-Time Monitoring and Data Visualizations</h2>
</div>
<div>
	<span class="centerImage">
		<img src="http://iot.fathym.com/Files/Storage/54b5bc0e-0a2d-48ab-bc06-1fec83f85412" width="900" height="auto">
	</span>
</div>
<div>
	<span class="bodyText">Users can easily add gauges, dials, charts and maps to their real-time dashboards. Each visualization can be set to display any incoming data element. 

	Dashboards can be customized to each user or role in an organization. 
	</span>
</div>
	<br>
<div>
	<span class="centerImage">
		<a href="http://iot.fathym.com/?partId=83832bd9-71c2-4dea-bcd6-1688a8061cf3"><img src="http://iot.fathym.com/Files/Storage/b399b1ce-edc7-4316-9c59-f2187316ad59" width="900" height="auto"></a>
	</span>
</div>
<hr>
<div>
	<h2>Alerts & Notifications</h2>
</div>
<div>
	<span class="centerImage">
		<img src="http://iot.fathym.com/Files/Storage/641c91f0-21dd-47b4-b14b-f446789aae55" width="900" height="auto">
	</span>
</div>
<div>
	<span class="bodyText">Alerts can be set on any  combination of incoming data. When data thresholds are reached, notifications can be sent via email or SMS. 
	</span>
</div>
	<br>
<div>
	<span class="centerImage">
		<a href="http://iot.fathym.com/applications/northland/?partId=5d6cfe1f-ba9c-45f5-8a71-361397153dc9"><img src="http://iot.fathym.com/Files/Storage/d7fd80fd-4e87-471e-b9a4-d637a9025283" width="900" height="auto"></a>
	</span>
</div>
	<br>
<div>
	<span class="bodyText">Dashboards come with a management view of all alerts, who the alerts are assigned to, when they  last ran, and when the alert was last triggered. 
	</span>
</div>
	<br>
<div>
	<span class="centerImage">
		<a href="http://iot.fathym.com/applications/ctera/?partId=430d0586-d625-4d54-a825-094786921b94"><img src="http://iot.fathym.com/Files/Storage/aa07eaad-dade-431c-b501-8c8834839eb0" width="900" height="auto"></a>
	</span>
</div>
<br>
<hr>
<div>
	<h1>Integrating Diverse Datasets for Visualizations and Decisions</h1>
</div>
<div>
	<span class="centerImage">
		<img src="http://iot.fathym.com/Files/Storage/842d88d4-0422-40de-b402-c3b5dd918b86" width="900" height="auto">
	</span>
</div>
<div>
	<span class="bodyText">Fathym simplifies embedding external apps and dashboards through APIs and embed parts. This allows clients to bring externally crafted dashboards and apps into Fathym, along with internal datasets, under a single pane of glass.
	</span>
</div>
	<br>
<div>
	<table>
		<tbody><tr>
			<th>External Datasets & Visualizations</th>
			<th>Embedded Apps</th>
		</tr>
		<tr>
			<td width="400">Visualizations, videos, live streams and more can be brought into Fathym dashboards.</td>
			<td width="400">A client wanted a "single pane of glass" view into various applications, so Fathym created windows into all these apps in a single Fathym dashboard.</td>
		</tr>
		<tr>
			<td><a href="http://dev.fathym.com/?partId=c753501b-0bd2-477e-a49d-c0d9a091f367"><img src="http://iot.fathym.com/Files/Storage/e01ed197-2697-4b9e-8ef4-4df03d92776e" width="400"></a></td>
			<td><a href="http://iot.fathym.com/applications/truweather/?partId=4d9262af-4b45-48d2-99e7-5d1aaddb03c6"><img src="http://iot.fathym.com/Files/Image/Resize?url=~%2FFiles%2FStorage%2Fea352b50-df6f-4089-b655-f1565251f282" width="400"></a></td>
		</tr>
	</tbody></table>
</div>
	<br>
<div>
	<span class="bodyText">Data visualizations don't have to be simple. The following example uses our map visualization part combined with complex hydrology datasets showing Houston's waterways, along with real-time weather station data. 
	</span>
</div>
	<br>
<div>
	<span class="centerImage">
		<a href="http://dev.fathym.com/?partId=d8b4875f-6e37-4e35-b654-5145a1d5da07"><img src="http://iot.fathym.com/Files/Storage/87b73481-4c90-4382-acb8-ddfeff2a6bfc" width="900" height="auto"></a>
	</span>
</div>
	<br>
<hr>
<div>
	<h1>Performance Metrics & Historical Data Analytics</h1>
</div>
<div>
	<span class="centerImage">
		<img src="http://iot.fathym.com/Files/Storage/c2fd6434-21a1-4f50-838a-a195886f564a" width="900" height="auto">
	</span>
</div>
	<br>
<div>
	<span class="bodyText">Fathym is built to be flexible to your data needs. You can use the database that best fits your dataset and pair it with visualizations, including external sources. 
	</span>
</div>
<br>
<div>
	<h2>Performance Metrics</h2>
</div>
<br>
<div>
	<span class="bodyText">Our engineers monitor the uptime and performance of hundreds of weather sensors for clients. These tools helped them prove a 75% improvement in uptime in our last sensor rev. 
	</span>
</div>
	<br>
<div>
	<span class="centerImage">
		<a href="http://iot.fathym.com/?partId=b6003f6c-8a7b-4e28-aeeb-23d4e39f1b38"><img src="http://iot.fathym.com/Files/Storage/fa5fb261-208f-475a-85ee-94fb7c7efcb0" width="900" height="auto"></a>
	</span>
</div>
	<br>
<hr>
<div>
	<h1>Predictive Analytics</h1>
</div>
<div>
	<span class="centerImage">
		<img src="http://iot.fathym.com/Files/Storage/c1f81892-21e0-4df5-87db-c1c5cb30c7fe" width="900" height="auto">
	</span>
</div>
	<br>
<div>
	<span class="bodyText">Fathym has used its predictive analytics tools in one of the toughest industries: forecasting weather. Our tools have proven robust and accurate in the weather space and are ready to be applied to other industries. 
	</span>
</div>
<br>
<div>
	<h2>Routing and Forecasting</h2>
</div>
<br>
<div>
	<span class="bodyText">The following dashboard combines proprietary sensor data (mobile and roadside weather stations) with other weather data sources. The integrated dataset is run through algorithms and the forecast data is displayed on a dashboard. 
	</span>
</div>
	<br>
<div>
	<span class="centerImage">
		<a href="http://iot.fathym.com/?partId=d70cca67-2c13-464f-86d0-d8d66321918b"><img src="http://iot.fathym.com/Files/Storage/0af8090a-4d11-4ba5-951a-be78886eb9af" width="900" height="auto"></a>
	</span>
</div>
	<br>
<hr>
<div>
	<h1>Access Layers - Roles & Permissions</h1>
</div>
<div>
	<span class="centerImage">
		<img src="http://iot.fathym.com/Files/Storage/c7269400-28a9-44dc-bce5-bb1cdeb54b1f" width="900" height="auto">
	</span>
</div>
	<br>
<div>
	<span class="bodyText">Fathym allows clients to customize dashboards for each user or role in their organization, showing the data users need to see in the ways they need to see it. 
	</span>
</div>
<br>
<div>
	<table>
		<tbody><tr>
			<th>Admin Portal</th>
			<th>Teacher Portal</th>
		</tr>
		<tr>
			<td width="400">The admin portal allows Indigo employees to access all data, set up school apps, upload content and more.</td>
			<td width="400">Teachers log in directly to their school portal and have access to only their students' assessments and classroom resources.</td>
		</tr>
		<tr>
			<td><a href="http://indigo.fathym.com/applications/indigoadmin"><img src="http://iot.fathym.com/Files/Storage/4348e764-ce7b-4995-9f4e-5287ecefde82" width="400"></a></td>
			<td><a href="http://indigo.fathym.com/applications/theacademy"><img src="http://iot.fathym.com/Files/Storage/a58ba38d-8594-4cf7-9fb6-180b882023d4" width="400"></a></td>
		</tr>
	</tbody></table>
</div>
<br>
<hr>
<div>
	<h1>User Profiles & Social Features</h1>
</div>
<div>
	<span class="centerImage">
		<img src="http://iot.fathym.com/Files/Storage/b507adc3-7c05-4226-b503-fbb12946ba91" width="900" height="auto">
	</span>
</div>
	<br>
<div>
	<span class="bodyText">Fathym was built to allow for fluid social features, including social networking, live chat and customizable user homespaces. 
	</span>
</div>
<br>
<div>
	<table>
		<tbody><tr>
			<th>User Profiles</th>
			<th>User Homespace</th>
		</tr>
		<tr>
			<td width="400">User profiles allow personnel and teams to connect and share projects.</td>
			<td width="400">Custom homespaces allow users to have the information most important to them at hand.</td>
		</tr>
		<tr>
			<td><a href="http://iot.fathym.com/?partId=093c3112-3d58-4e01-8e3b-2e82ba4a55f2"><img src="http://iot.fathym.com/Files/Storage/542429a3-efee-406e-83c0-e4c2ae7934f0" width="400"></a></td>
			<td><a href="http://iot.fathym.com/?partId=0498f125-d76c-4d16-8eb8-4f1902652f21"><img src="http://iot.fathym.com/Files/Storage/80d5ddfa-946c-45c6-89d1-c235360c3b5e" width="400"></a></td>
		</tr>
	</tbody></table>
</div>
<div>
	<h2>Social Apps</h2>
</div>
<div>
	<span class="bodyText">Fathym can be used to create social and collaborative spaces. 
	</span>
</div>
<div>
	<span class="centerImage">
		<a href="http://iot.fathym.com/applications/social"><img src="http://iot.fathym.com/Files/Storage/4a780f3c-dffd-4571-87db-57d6af82dedb" width="900" height="auto"></a>
	</span>
</div>
<br>
<hr>





<router-outlet></router-outlet>
